NODE_ENV=development
PORT=3000
HOST=0.0.0.0

DATABASE_URL="postgresql://postgres:PASSWORD@db.bibprlxajcxtlqevxocw.supabase.co:5432/postgres?pgbouncer=true"
DIRECT_DATABASE_URL="postgresql://postgres:PASSWORD@db.bibprlxajcxtlqevxocw.supabase.co:5432/postgres"

PHAROS_RPC_URL=""
PHAROS_CHAIN_ID=688688

GEMINI_API_KEY=""
QWEN_API_KEY=""

PRIVY_APP_ID=""
PRIVY_APP_SECRET=""
MORALIS_API_KEY=""
BIRDEYE_API_KEY=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
RESEND_API_KEY=""

SENTRY_DSN=""
